@import "responsive";

$gap: 300px;
$boardSize: min(70vw, 70vh);

:host {
  display: flex;
  height: 100%;
  padding-top: 8vh;
  justify-content: center;
  align-items: center;
  flex: 1;

  @include respond-below(xs) {
    flex-direction: column;
    padding-top: 0;
  }
}

snake-board {
  grid-area: board;
  width: $boardSize;
  height: $boardSize;
}

snake-score {
  grid-area: score;
}

snake-game-controls {
  grid-area: controls;
}

.panel {
  border: 15px solid var(--border-color);
  background: var(--panel-bg);
  border-radius: var(--border-radius);
  padding: var(--padding);
  margin: var(--padding);
}
