$border: 1px solid blue;
$boardSize: 70vh;


:host {
  display: block;

  @media screen and (min-width: 400px) {
    height: $boardSize;
    width: $boardSize;
  }

  @media screen and (max-width: 400px) {
    height: 90vw;
    width: 90vw;
  }
}

.board {
  display: grid;
  padding: var(--padding);
  gap: 2px;
  height: 100%;
  width: 100%;
  position: relative;
  background: var(--border-color);
  border-radius: var(--border-radius);

  &.board-overlay:before {
    content: ' ';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 62%);
  }
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: grey;

  &.snake {
    background: green;
  }

  &.has-food {
    background: red;
  }
}



.overlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  background: var(--panel-bg);
  padding: var(--padding);
  border: var(--padding) solid var(--border-color);
  border-radius: var(--border-radius);
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}


button {
  background: var(--btn-color);
}
