a {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}

img {

  &.hide-below-md {
    width: 210px;
  }

  &.show-below-md {
    width: 45px;
    position: relative;
    left: 10px;
    top: 10px;
  }
}
